





















.burger-menu {
  @media (min-width: $md1 + px) {
    &.active {
      span {
        opacity: 0;
        visibility: hidden;
      }

      &:before {
        content: "";
        transform: translateY(-50%) rotate(45deg);
        top: 50%;
      }

      &:after {
        content: "";
        top: 50%;
        transform: translateY(-50%) rotate(-45deg);
      }
    }
    position: absolute;
    display: none;
    width: 30px;
    height: 18px;
    top: 18px;
    left: 18px;
    span {
      position: absolute;
      width: 100%;
      height: 1px;
      top: 50%;
      transform: translateY(-50%);
      -webkit-transition: all .3s ease;
      -moz-transition: all .3s ease;
      -ms-transition: all .3s ease;
      -o-transition: all .3s ease;
      transition: all .3s ease;
    }

    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      top: 0;
      -webkit-transition: all .3s ease;
      -moz-transition: all .3s ease;
      -ms-transition: all .3s ease;
      -o-transition: all .3s ease;
      transition: all .3s ease;
    }

    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      bottom: 0;
      -webkit-transition: all .3s ease;
      -moz-transition: all .3s ease;
      -ms-transition: all .3s ease;
      -o-transition: all .3s ease;
      transition: all .3s ease;
    }
  }
}